body{
  padding: 0;
  margin: 0;
}
/* nav styles */
nav {
  display: flex;
  background-color: aquamarine;
  justify-content: space-between;
}
nav .logo h1{
  color: yellow;
}
nav ul {
  display: flex;
  list-style: none;
}
nav ul li{
  margin: 10px;
  color: white;
}
/* header styles */
header {
  height: 60vh;
  background-color: gray;
  display: flex;
  align-items: center;
}
header .hero {
  color: white;
  font-size: 25px;
}
/* projects styles */
.sly{
  background-color: cadetblue;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.sly img{
  margin: 10px;
}
/* contact us styles */
#lad{
  padding: (3fr 1f);

}
#lad input{
  margin: 10px;
  border: none;  border-bottom: solid red;
 
}
#lad button{
  height: 40px;
  width: 80px;
  border-radius: 40px;
  color: aqua;
  background-color: black;
}
.bus{
  display: flex;
  margin: 15px;
}
.led{
  background-color: aqua;
}
/* footer styles */
footer{
  display: flex;
  padding: 30px 0px 30px 0px;
  justify-content: space-between;
  height: 10vh;
  align-items: center;
}
.left{
  display: flex;
}


